* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(1, 1, 22);
  display: flex;
  height: 100vh;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

svg {
  border-radius: 50%;
  box-shadow: none;
  transition: all 0.4s ease;
}

svg.active {
  box-shadow: 0px 0px 10px 2px rgb(5, 143, 255);
  transition: all 0.5s ease;
  transform: scale(2.1);
}

#recording-circle.recording {
  fill: white !important;
}

@media screen and (min-width: 900px) {
  svg {
    transform: scale(2);
  }
}
